# Assuming that we have some email addresses in the     "username@companyname.com" format, please write a program to print the company name of a given email address. Both user names and companynames are composed of letters only.

## Input Format:
## The first line of the input contains an email address.
## Output Format:
## Print the company name in a single line.

### Example;
### Input:
### john@google.com

### Output:
### google

In [6]:
print("enter email in the format of 'username@companyname.com'")
a=input("Enter the email address:")
b=a.split("@")
c=a.rstrip(".com")
print(b)
print(c)
d=a.split("@")[1].rstrip(".com")
print(d)

enter email in the format of 'username@companyname.com'
Enter the email address:madhu@google.com
['madhu', 'google.com']
madhu@google
google

In [7]:
print("enter email in the format of 'username@companyname.com'")
a=input("Enter the email address:")
b=a.split("@")
c=a.rstrip(".com")
print(b)
print(c)
d=a.split("@")[1].rstrip(".com")
print(d)

enter email in the format of 'username@companyname.com'
Enter the email address:nive@hotmail.com
['nive', 'hotmail.com']
nive@hotmail
hotmail

# Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

## Input Format:
### The first line of input contains words separated by the comma.
## Output Format:
### Print the sorted words separated by the comma.

### Example:
## Input:
### without,hello,bag,world
## Output:
## bag,hello,without,world

In [8]:
a=input("enter a string with commas:")
b=a.split(",")
#print(b)
d=sorted(b)
#print(d)
print(','.join(d))

enter a string with commas:without,hello,bag,world
bag,hello,without,world

# Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates. 

## Input Format: The first line contains n-1 numbers with each number separated by a space. 
## Output Format: Print the missing number

### Example: 
### Input: 1 2 4 6 3 7 8 
### Output: 5 
### Explanation: In the above list of numbers 5 is missing and hence 5 is the input

In [10]:
k=int(input("enter the number of elements:"))
#ele=int(input("enter the elements:"))
lst=[]
for i in range(0,k):
    ele=int(input("enter the elements:"))
    lst.append(ele)
for i in range(0,len(lst)):
    print(lst[i],end=" ")
m=lst[-1]
#print("\n",m)
sum1=0
for i in range(0,len(lst)):
    sum1=sum1+lst[i]
#print("sum=",sum1)
s=m*(m+1)//2
#print("s=",s)
dif=s-sum1
print("\nmissing number is:",dif)

enter the number of elements:7
enter the elements:1
enter the elements:2
enter the elements:4
enter the elements:6
enter the elements:3
enter the elements:7
enter the elements:8
1 2 4 6 3 7 8
missing number is: 5

# With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

## Example: If the input list is 12 24 35 24 88 120 155 88 120 155 Then the output should be 12 24 35 88 120 155 Explanation: Third, the seventh and ninth element of the list L has been removed because it was already present. 

## Input Format: In one line take the elements of the list L with each element separated by a space. 
## Output Format: Print the elements of the modified list in one line with each element separated by a space.

### Example: Input: 12 24 35 24      Output: 12 24 35

In [25]:
k=int(input("enter the number of elements:"))
#ele=int(input("enter the elements:"))
lst=[]
for i in range(0,k):
    ele=int(input("enter the elements:"))
    lst.append(ele)
for i in range(0,len(lst)):
    print(lst[i],end=" ")
lst=list(dict.fromkeys(lst))
print("\n")
for i in range(0,len(lst)):
    print(lst[i],end=" ")

enter the number of elements:4
enter the elements:12
enter the elements:24
enter the elements:35
enter the elements:24
12 24 35 24

12 24 35

# Sets

In [26]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [27]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

<class 'dict'>
<class 'set'>

In [28]:
#Modify a set in python
# initialize my_set
my_set = {1, 3}
print(my_set)

# if you uncomment line 9,
# you will get an error
# TypeError: 'set' object does not support indexing

# my_set[0]

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [29]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(2)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

KeyError: 2

In [30]:
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

# pop an element
# Output: random element
print(my_set.pop())

# pop another element
my_set.pop()
print(my_set)

# clear my_set
# Output: set()
my_set.clear()
print(my_set)

print(my_set)

{'o', 'H', 'e', 'l', 'd', 'W', 'r'}
o
{'e', 'l', 'd', 'W', 'r'}
set()
set()

In [31]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [34]:
# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(B-A)
print(A-B)

{8, 6, 7}
{1, 2, 3}

In [35]:
# Symmetric difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
# Output: {1, 2, 3, 6, 7, 8}
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [36]:
#set membership test
# in keyword in a set
# initialize my_set
my_set = set("apple")

# check if 'a' is present
# Output: True
print('a' in my_set)

# check if 'p' is present
# Output: False
print('p' not in my_set)

True
False